[submodule "devon4ng.wiki"]
	path = devon4ng.wiki
	url = https://github.com/devonfw/devon4ng.wiki.git
[submodule "my-thai-star.wiki"]
	path = my-thai-star.wiki
	url = https://github.com/devonfw/my-thai-star.wiki.git
[submodule "devonfw-shop-floor.wiki"]
	path = devonfw-shop-floor.wiki
	url = https://github.com/devonfw/devonfw-shop-floor.wiki.git
[submodule "cicdgen.wiki"]
	path = cicdgen.wiki
	url = https://github.com/devonfw/cicdgen.wiki.git
[submodule "devon4net.wiki"]
	path = devon4net.wiki
	url = https://github.com/devonfw/devon4net.wiki.git
[submodule "tools-cobigen.wiki"]
	path = tools-cobigen.wiki
	url = https://github.com/devonfw/tools-cobigen.wiki.git
[submodule "devon4j.wiki"]
	path = devon4j.wiki
	url = https://github.com/devonfw/devon4j.wiki.git
[submodule "ide.wiki"]
	path = ide.wiki
	url = https://github.com/devonfw/ide.wiki.git
[submodule "devon4node.wiki"]
	path = devon4node.wiki
	url = https://github.com/devonfw/devon4node.wiki.git
[submodule ".github"]
	path = .github
	url = https://github.com/devonfw/.github.git
[submodule "mrchecker.wiki"]
	path = mrchecker.wiki
	url = https://github.com/devonfw/mrchecker.wiki.git
[submodule "production-line.wiki"]
	path = production-line.wiki
	url = https://github.com/devonfw/production-line.wiki.git
[submodule "cobigen.wiki"]
	path = cobigen.wiki
	url = https://github.com/devonfw/cobigen.wiki.git
